:root {
  --accent: rgb(248,135,60);
  --accent-alpha-70: rgba(241,142,51,.7);
  --accent-alpha-20: rgba(241,142,51,.2);

  --background: #27282c;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
